{% load static %}
<!-- Footer Section -->
<footer class="bg-dark">
    <div class="container mt-3 pt-3">
        <div class="row mb-2 p-3">
            <div class="col-md-4">
              <h5 class="text-light">Address</h5>
              <hr class="hrwhite">
              The Paradise, Anand Nagar, 
              Mhada Colony, Mulund East, 
              Mumbai- 400081, Maharashtra
              <p><i class="bi-telephone-fill text-light"></i>&nbsp;&nbsp;&nbsp;9999999999</p>
              <p><i class="bi-envelope-fill text-light"></i>&nbsp;&nbsp;&nbsp;abc@gmail.com</p>
            </div>
            <div class="col-md-4">
              <h5 class="text-light">Quick Links</h5>
              <hr class="hrwhite">
              <p><a href="index.html">Home</a></p>
              <p><a href="aboutus.html">About</a></p>
              <p><a href="contact.html">Contact</a></p>
              <p><a href="mybooking.html">My Booking</a></p>
             </div>
             <div class="col-md-4">
              <h5 class="text-light">Connect with us</h5>
              <hr class="hrwhite">
              <h5><a href="https://www.facebook.com/"><i class="bi-facebook text-light"></i></a></h5>
              <h5><a href="https://www.instagram.com/"><i class="bi-instagram text-light"></i></a></h5>
              <h5><a href="https://www.twitter.com/"><i class="bi-twitter text-light"></i></a></h5>    
             </div>
             <i>&copy; All right reserved to Ashwini Poojary</i>

           </div>
    </div>
</footer>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>