{% extends 'base.html' %}
{% load static %}

{% block 'main' %}
    <!-- Main section -->
      <!--carousel section-->
    
      <div id="carouselmain" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/c1.jpg' %}" class="d-block" style="height: 550px;width: 100%;">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/c2.jpg' %}" class="d-block" style="height: 550px;width: 100%;">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/c3.jpeg' %}" class="d-block" style="height: 550px;width: 100%;">
          </div>
        </div>  
      </div>
        <!-- Filter canvas -->
        <i class="bi bi-list" id="menulist" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="z-index: 1;">Filter</i>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h4 class="offcanvas-title" id="offcanvasRightLabel"><u>Filter</u></h4>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <h5 >Search By Bed type:</h5><hr>
                <div style="padding-left:20px ;">
                    <a href="/bedtype/1">Single</a><br>
                    <a href="/bedtype/2">Double</a><br>
                    <a href="/bedtype/3">Multiple</a><br>
                </div>

                <br> <br>
                <h5>Sort By Price</h5><hr>
                <form action="/sort" >

                <label for="minprice" class="form-label">Minimum Price:</label>
                <input type="number" name="minprice" class="form-control">
                <label for="maxprice" class="form-label">Maximum Price:</label>
                <input type="number" name="maxprice" class="form-control">
                <br>
                <input type="submit" value="Search" class="btn btn-success">
                </form>
                

            </div>


        </div>
        <!--Service Banner-->
        <div class="container" style="background-color: rgb(21, 248, 229);">
            <div class="row">
                <div class="col-md-6 px-5" style="padding-top: 30px;">
                    <h3>Why Paradise?</h3>
                    <p>Choose Direct Rate when booking your room</p>
                </div>
                <div class="col-md-6" style="padding-top: 10px;">
                    <h5>Best Rate Guarantee</h5>
                    <h5>5% off Best Available Rate</h5>  
                    <h5> Food & Beverage Voucher to be used during your stay</h5>
                    <h5>The Paradise Hotel Exclusive offers and discounts</h5>
                </div>
            </div>
        </div>

        <!--Room Avaiable-->
        
        <div class="container mt-3 text-center">
            <h2>Room type</h2>
                <form action="/location" method="get">
                    <div class="input-group mt-3 mb-3" >
                    <input type="text" name="loc" id="loc" class="form-control text-center" placeholder="Enter City | State" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-success" id="button-addon2">Search Rooms</button>
                    </div>
                </form>
        
            
            <div class="row">
                <!--card1-->
                {% if errmsg %}
                    <div class="alert alert-danger text-center">
                        {{errmsg}}
                    </div>
                {% endif %}
                {% for x in room %}
                <div class="col-md-4">
                    <div class="card mt-2">
                        <img src="{{x.cimage.url}}" alt="{{x.rname}}" srcset="" style="height: 200px;">
                        <div class="card-body mb-0">
                        <h4 class="card-title">{{x.rname}}</h4>
                            <div class="row text-start">
                                <div class="col-4">
                                    <p class="d-inline"><i class="fa fa-solid fa-bed"></i>&nbsp; {{x.nbed}} Beds</p>
                                </div>
                                <div class="col-8">
                                    {% if x.bedtypecat == 1 %}
                                    <p class="d-inline">Type: Single</p>
                                    {% elif x.bedtypecat == 2 %}
                                    <p class="d-inline">Type: Double</p>
                                    {% else %}
                                    <p class="d-inline">Type: Multiple, Family suite</p>
                                    {% endif %}
                                </div>
                                <div class="col-12">
                                    <p class="d-inline"><i class="bi bi-geo-alt-fill"></i> &nbsp;{{x.Location}}, {{x.City}}</p>
                                </div>
                            </div>
                            <br>
                        <p class="text-truncate">{{x.rdesc}}</p>
                        <a href="/rdetails/{{x.id}}" target="_blank"><button type="button" class="btn btn-secondary">See More</button></a>

                    </div>
                    </div>
                </div>
                {% endfor %}  
            </div>

            
        </div><!--Container close -->
    <br>
    
{% endblock 'main' %}